#root {
  width: 100%;
  height: 100%;
  margin: 0 0;
  padding: 1rem;
  text-align: center;
}

.bg-body-tertiary{
  width: 100%;
  height: 10%;
}

.list-group{
  width: 70%;
  margin: auto;
}

.list-group-item{
  margin-top: 2%;
  box-shadow: 5px  5px 0px 0px  #8e8888;
  border-radius: 5px;
  text-align: initial;
}

.formIngresar{
  width: 70%;
  margin: auto;

}

.col-form-label{
  font-size: 1.2rem;
  text-align: left;
}

.botonIngresar{
  display: flex;
  width: 100%;
  justify-content: end;
}
.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light{
  width: 100%;
}
.navbar>.container{
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;

}

.bienvenido{
    display: flex;
    width: 80%;
    height: 75%;
    text-align: start;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.navUsuario{
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin-left: 5px;
  margin-right: 10px;
  flex-grow: 2;
}

.posteoInicio{
  display: flex;
  height: 40px;
  margin-bottom: 20px;
  text-align: initial;
  justify-content: center;
}

.mensajeBienvenida{
  text-align: initial;
  margin-left: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}

.contenedorCards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}
.g-2.row.row-cols-md-2.row-cols-1{
 width: 50%;
 height: auto;
 padding-bottom: 0%;
justify-content: center;
margin-bottom: 15px;
}

.cardUsuarios{
  width: 45%;
  justify-content: center;
  margin: 15px;
}

.navPosteo{
  color: aliceblue;
  margin-left: 15px;
}
.cardedicion{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

.cardVerPosteos{
  width: 45%;
  justify-content: center;
  margin: 10px;
}

.col-md-4.col-6{
  position: relative;
  width: 60px;
  height: 80px;
  border-style: double;
  border-color: aliceblue;
}

.img-thumbnail{
  width: 30%;
  height: 45%;
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

.div.col-xl-6.col-md-4{
  display: flex;
  justify-content: end;
}

